version: '3.8'

services:
  user-login:
    build: .
    ports:
      - "9094:9094"
    environment:
      - SPRING_PROFILES_ACTIVE=oracle
      - SPRING_DATASOURCE_URL=jdbc:oracle:thin:@//oracle:1521/XE
      - SPRING_DATASOURCE_USERNAME=developer
      - SPRING_DATASOURCE_PASSWORD=Passw0rd
    networks:
      - user-network

networks:
  user-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
          gateway: 172.28.0.1
